* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
  height: 3em;
  padding: 1em;
  background-color: #eee;
}

.header-btn {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.fa-bars {
  font-size: 2em;
}

.main {
  display: flex;
}

.navigation {
  width: 20vw;
  visibility: hidden;
}

.nav-list {
  padding: 0;
  list-style-type: none;
}

.nav-list-item {
  display: flex;
  background-color: #808080;
  color: #fff;
  height: 2em;
  margin-top: 0.5em;
}

.nav-list-link {
  flex: 1;
  text-decoration: none;
  color: #fff;
  padding: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 600px) {
  .navigation {
    visibility: visible;
  }

  .header-btn {
    visibility: hidden;
  }
}

