.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  max-width: 100%;
  position: relative;
  
}
.image-button {
  position: absolute;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 50%;
  cursor: pointer;
}
.image-button:hover {
  opacity: 1;
}
