.image-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.image-button {
  display: block;
  position: absolute;
  width: 200px;
  height: 50px;
  background-color: bisque;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  opacity: 50%;
  text-align: center;
  line-height: 50px;
}

.image-button:hover {
  opacity: 1;
  cursor: pointer;
}

.image {
  max-width: 100%;
}
