* {
  box-sizing: border-box;
}

.gallery {
  display: flex;
}

.image {
  width: 200px;
  height: 200px;
}

.gallery .image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
