* {
  box-sizing: border-box;
}
html {
  font-family: Verdana;
  color: #555;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
}

.header {
  text-align: center;
  color: white;
  background-image: linear-gradient(60deg, red, orange);
}

.footer {
  text-align: center;
  margin-top: auto;
  background-color: #e5e5e5;
  padding: 0.5em;
}

.navigation,
.section,
.news {
  padding: 0.5em;
}

.navigation {
  width: 20%;
}

.nav-list {
  list-style-type: none;
  padding: 0;
}

.nav-list-item {
  background-color: #808080;
  color: #fff;
  height: 2em;
  margin: 0.5em;
}

.nav-list-link {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 2em;
}

.section {
  font-size: 1.25em;
  width: 60%;
}

.section__header {
  font-size: calc(0.05 * 100vw);
  text-align: center;
}

.units-list {
  line-height: 1.75em;
}

.css-unit {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}

.news {
  width: 20%;
}
