* {
  box-sizing: border-box;
}

.content {
  height: 100vh;
  display: flex;
}

.gallery {
  display: flex;
  width: 80%;
  background-color: #fa5;
}

.ideas {
  display: flex;
  width: 20%;
  background-color: #5af;
}

.image {
  max-width: 100%;
  margin: auto;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.idea {
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding: 4px;
  white-space: nowrap;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
