* {
  box-sizing: border-box;
}

table {
  
  margin: 16px;
  width: 500px;
  font-family: Arial, Helvetica, sans-serif;
}

caption {
  margin-bottom: 8px;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

td,
th {
  padding: 4px;
  text-align: right;
  height: 40px;
}

th {
  background-color: aqua;
}

div {
  overflow-x: auto;
}
tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
tbody tr:hover{
  background-color: #aaa;
  color: #fff;
}
tfoot {
  font-weight: 700;
}
