.text {
  text-transform: lowercase;
  font-family: Verdana, sans-serif;
  padding: 8px;
  background-color: #faebd7;
  border-radius: 4px;
  margin: auto;
}

.navigation {
  display: flex;
  background-color: #ff7f50;
  min-height: 200px;
}

.products-list {
  display: flex;
  background-color: #006400;
  min-height: 200px;
}

.news {
  display: flex;
  background-color: #0ff;
  min-height: 200px;
}

@media screen and (min-width: 600px) {
  .products {
    display: flex;
  }
  .navigation,
  .products-list {
    width: 50%;
  }
}

@media screen and (min-width: 900px) {
  .content {
    display: flex;
  }
  .products {
    width: calc(100vw / 3 * 2);
  }

  .news {
    width: calc(100vw / 3);
  }
}
