* {
  box-sizing: border-box;
}
.text {
  position: relative;
  margin: 16px;
  border-bottom: 1px dotted black;
  display: inline-flex;
}

.tooltip {
  position: absolute;
  background-color: gray;
  border-radius: 4px;
  padding: 8px;
  bottom: -40px;
  color: white;
  display: none;
}

.text:hover .tooltip {
  display: block;
}
